/* Declare global SCSS properties here. */
$dark-neutral-blue: #103849;
$guitar-beige: #EBDAC0;
$berkeley-blue: #416289;
$flat-blue-1: #3498DB;
$light-gray: #DDDDDD;
$dynamo: #3CA55C;
$font-light-gray: #999999;

/* Import SCSS files here. */
@import '../imports/ui/stylesheets/normalize.scss';
@import '../imports/ui/stylesheets/skeleton.scss';
@import '../imports/ui/stylesheets/animate.scss';
@import '../imports/ui/stylesheets/stagger.scss';
@import '../imports/ui/stylesheets/config.scss';
@import '../imports/ui/stylesheets/global.scss';
@import '../imports/ui/stylesheets/parallax.scss';
@import '../imports/ui/stylesheets/landing.scss';
@import '../imports/ui/stylesheets/project-card.scss';
@import '../imports/ui/stylesheets/flip-card.scss';
@import '../imports/ui/stylesheets/panel.scss';
@import '../imports/ui/stylesheets/job.scss';
@import '../imports/ui/stylesheets/photographer.scss';
@import '../imports/ui/stylesheets/musician.scss';
@import '../imports/ui/stylesheets/bookworm.scss';
@import '../imports/ui/stylesheets/worker.scss';
@import '../imports/ui/stylesheets/dynamo.scss';
@import '../imports/ui/stylesheets/media-queries.scss';
