<template name="Bookworm_panel">
  <div class="panel-background bookworm-background">
    <div class="bookworm-content animated fadeInUp _3">
      {{#each getResourceContent}}
        {{#if evenIndex @index}}
          <div class="row gallery-row">
            <div class="six columns">
              <div class="resource-card clickable" onclick="window.open('{{url}}');">
                <div class="resource-title">{{title}}</div>
                <div class="resource-desc">{{desc}}</div>
              </div>
            </div>
            {{#if nextItemExists (getResourceContent) @index}}
              <div class="six columns">
                <div class="resource-card clickable" onclick="window.open('{{getNextItemAttr (getResourceContent) @index 'url'}}');">
                  <div class="resource-title">{{getNextItemAttr (getResourceContent) @index 'title'}}</div>
                  <div class="resource-desc">{{getNextItemAttr (getResourceContent) @index 'desc'}}</div>
                </div>
              </div>
            {{/if}}
          </div>
        {{/if}}
      {{/each}}
    </div>
    <div id="gitHubContent" class="animated fadeInUp _4">
      {{#each getGitHubContent}}
        {{#if evenIndex @index}}
          <div class="row gallery-row">
            <div class="six columns">
              <div class="resource-card clickable" onclick="window.open('{{url}}');">
                <div class="avatar"><div class="image" style="background-image: url('/felix_avatar.jpg');"></div></div>
                <div class="github-tag">GitHub</div>
                <div class="resource-title">{{title}} <sup><strong>{{lang}}</strong></sup></div>
                <div class="resource-desc">{{desc}}</div>
                <hr>
                <div class="resource-desc">Created by <strong>felixs8696</strong></div>
              </div>
            </div>
            {{#if nextItemExists (getGitHubContent) @index}}
              <div class="six columns">
                <div class="resource-card clickable" onclick="window.open('{{getNextItemAttr (getGitHubContent) @index 'url'}}');">
                  <div class="avatar"><div class="image" style="background-image: url('/felix_avatar.jpg');"></div></div>
                  <div class="github-tag">GitHub</div>
                  <div class="resource-title">{{getNextItemAttr (getGitHubContent) @index 'title'}} <sup><strong>{{getNextItemAttr (getGitHubContent) @index 'lang'}}</strong></sup></div>
                  <div class="resource-desc">{{getNextItemAttr (getGitHubContent) @index 'desc'}}</div>
                  <hr>
                  <div class="resource-desc">Created by <strong>felixs8696</strong></div>
                </div>
              </div>
            {{/if}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</template>
