<template name="Bookworm_panel">
  <!-- <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script> -->
  <div class="panel-background bookworm-background">
    <div class="row gallery-row">
      <div class="six columns">
        <div class="github-card" data-github="felixs8696/cs70-study-materials" data-width="100%" data-theme="default"></div>
      </div>
      <div class="six columns">
        <div class="github-card" data-github="felixs8696/ee16a-study-materials" data-width="100%" data-theme="default"></div>
      </div>
    </div>
    <div class="row gallery-row">
      <div class="six columns">
        <div class="github-card" data-github="felixs8696/stat133-studymaterials" data-width="100%" data-theme="default"></div>
      </div>
      <div class="six columns">
        <div class="github-card" data-github="felixs8696/meteor-ngIonic-sidemenu" data-width="100%" data-theme="default"></div>
      </div>
    </div>
    <div class="row gallery-row">
      <div class="six columns">
        <div class="resource-card clickable" onclick="window.open('http://felixsu.com/external/abaworkshop.html#/');">
          <div class="resource-title">[ABA] Professional Workshop</div>
          <div class="resource-desc">Rethink Your Future - What are your priorities?</div>
        </div>
      </div>
      <div class="six columns">
        <div class="resource-card clickable" onclick="window.open('http://felixsu.com/external/startupworkshop.html#/');">
          <div class="resource-title">[ABA] Startup Workshop</div>
          <div class="resource-desc">Define Your Role and Scale Effectively</div>
        </div>
      </div>
    </div>
    <div class="row gallery-row">
      <div class="six columns">
        <div class="resource-card clickable" onclick="window.open('http://felixsu.com/external/abarslides.html#1');">
          <div class="resource-title">Intro to R (Data Computing)</div>
          <div class="resource-desc">Use Code to Boost your Presentations</div>
        </div>
      </div>
      <div class="six columns">
        <div class="resource-card clickable" onclick="window.open('https://captiontool.firebaseapp.com/#/');">
          <div class="resource-title">CaptionTool for Media Tech</div>
          <div class="resource-desc">Paragraphs to Subtitles in Seconds</div>
        </div>
      </div>
    </div>
    <div class="row gallery-row">
      <div class="six columns">
        <div class="resource-card clickable" onclick="window.open('http://felixsu.com/content/files/REST/index.html');">
          <div class="resource-title">Notes on RESTful design</div>
          <div class="resource-desc">Maintain Flexibility and Scalability</div>
        </div>
      </div>
      <div class="six columns">
        <div class="resource-card clickable" onclick="window.open('http://felixsu.com/content/files/Databases/index.html');">
          <div class="resource-title">Notes on Databases</div>
          <div class="resource-desc">Brief Notes on Relational and Document DBs</div>
        </div>
      </div>
    </div>
  </div>
</template>
