<template name="Hacker_panel">
  <script type="application/javascript" src="js/modernizr.custom.js"></script>
  <script type="application/javascript" src="js/classie.js"></script>
  <script type="application/javascript" src="js/main.js"></script>
  <div id="theGrid">
    <section class="grid">
      {{#each getHackerContent}}
        <a class="grid__item" href="#" title="{{title}}">
          <div class="title--preview">
            <img class="grid-preview-img" src="{{logo}}"/>
          </div>
          <div class="grid-row">
            <div class="loader"></div>
            <span class="category">{{desc}}</span>
            <div class="meta meta--preview">
              <span class="meta__date"><i class="fa fa-calendar-o"></i> {{date}}</span>
              <span class="meta__reading-time"><i class="fa fa-clock-o"></i> {{time}}</span>
            </div>
          </div>
        </a>
      {{/each}}
    </section>
    <section class="content">
      <div class="scroll-wrap">
        {{#each getHackerContent}}
          <article class="content__item">
            <span class="category category--full">{{desc}}</span>
            <h2 class="grid-title title--full">{{title}}</h2>
            <div class="meta meta--full">
              <span class="meta__author">{{founders}}</span>
              <span class="meta__date"><i class="fa fa-calendar-o"></i> {{date}}</span>
              <span class="meta__reading-time"><i class="fa fa-{{linkIcon}}"></i><a href="{{url}}" target="_blank" title="{{urlTitle}}">{{urlTitle}}</a></span>
            </div>
            {{{content}}}
          </article>
        {{/each}}
      </div>
      <button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>
    </section>
  </div>
</template>
