<template name="Musician_panel">
  <div class="panel-background musician-background">
    <div class="musician-content">
      <div class="youtube-gallery" style="opacity : 0;">
        <div class="row gallery-row">
          <div class="six columns">
            <a href="https://www.youtube.com/watch?v=MDYTvto1AsE" title="Love Yourself - Justin Bieber Cover | Felix Su, Yen Lee, Canishka De Silva">
          		<img src="./youtube/loveyourself.png" width="100%">
          	</a>
          </div>
          <div class="six columns">
            <a href="https://www.youtube.com/watch?v=iMGs5_LZY1o" title="Let it Go - James Bay Cover (Dedicated to Nick Leslie, Rickard Kruusberg, and Misha Baselvvskyy)">
        		  <img src="./youtube/letitgo.png" width="100%">
          	</a>
          </div>
        </div>
      </div>
      <div class="soundcloud-gallery" style='opacity: 0;'>
        <div class="row gallery-row">
          {{{getSCPlaylist 245460937}}}
        </div>
        <div class="row gallery-row">
          {{{getSCPlaylist 245470427}}}
        </div>
      </div>
    </div>
  </div>
</template>
