<template name="Musician_panel">
  <div class="panel-background musician-background">
    <div class="musician-content">
      <div class="youtube-gallery animated fadeInUp _3">
        <div class="row gallery-row">
          <div class="six columns">
            <a href="https://www.youtube.com/watch?v=MDYTvto1AsE" title="Love Yourself - Justin Bieber Cover | Felix Su, Yen Lee, Canishka De Silva">
          		<img src="/youtube/loveyourself.jpg" width="100%">
          	</a>
          </div>
          <div class="six columns">
            <a href="https://www.youtube.com/watch?v=iMGs5_LZY1o" title="Let it Go - James Bay Cover (Dedicated to Nick Leslie, Rickard Kruusberg, and Misha Baselvvskyy)">
        		  <img src="/youtube/letitgo.jpg" width="100%">
          	</a>
          </div>
        </div>
      </div>
      <div class="soundcloud-gallery">
        <div class="row gallery-row animated fadeInUp _6">
          {{{getSCPlaylist 245460937}}}
        </div>
        <div class="row gallery-row animated fadeInUp _8">
          {{{getSCPlaylist 245470427}}}
        </div>
      </div>
    </div>
  </div>
</template>
