<template name="Photographer_panel">
  <script src="/js/lazysizes.min.js" type="application/javascript"></script>
  <div class="panel-background photographer-background">
    <div class="zoom-gallery">
      <div class="row gallery-row">
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/mirrorshot.jpg" data-source="https://500px.com/photo/165005003/mirror-shot-by-felix-su" title="Action Shot">
        		<img class="lazyload" data-src="./photo_portfolio/thumbnail/mirrorshot.jpg" width="100%">
        	</a>
        </div>
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/christian.jpg" data-source="https://500px.com/photo/89543073/uc-berkeley-home-by-felix-su" title="Christian Hall - Berkeley">
        		<img class="lazyload" data-src="./photo_portfolio/thumbnail/christian.jpg" width="100%">
        	</a>
        </div>
      </div>
      <div class="row gallery-row">
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/crane.jpg" data-source="https://500px.com/photo/165003611/take-flight-by-felix-su" title="Take Flight">
        		<img class="lazyload" data-src="./photo_portfolio/thumbnail/crane.jpg" width="100%">
        	</a>
        </div>
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/petals.jpg" data-source="https://500px.com/photo/116619001/petals-by-felix-su" title="After the Ceremony">
        		<img class="lazyload" data-src="./photo_portfolio/thumbnail/petals.jpg" width="100%">
        	</a>
        </div>
      </div>
      <div class="row gallery-row">
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/floater.jpg" data-source="https://500px.com/photo/115160665/free-floater-by-felix-su" title="Free Floater">
        		<img class="lazyload" data-src="./photo_portfolio/thumbnail/floater.jpg" width="100%">
        	</a>
        </div>
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/wings.jpg" data-source="https://500px.com/photo/114813809/outstretched-wings-by-felix-su" title="Outstretched Wings">
        		<img class="lazyload" data-src="./photo_portfolio/thumbnail/wings.jpg" width="100%">
        	</a>
        </div>
      </div>
      <div class="row gallery-row">
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/splash.jpg" data-source="https://500px.com/photo/114814871/falling-waves-by-felix-su" title="Summer Splash">
        		<img class="lazyload" data-src="./photo_portfolio/thumbnail/splash.jpg" width="100%">
        	</a>
        </div>
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/waterfall.jpg" data-source="https://500px.com/photo/114813599/water-flare-by-felix-su" title="Water Flare">
        		<img class="lazyload" data-src="./photo_portfolio/thumbnail/waterfall.jpg" width="100%">
        	</a>
        </div>
      </div>
      <div class="row gallery-row">
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/wheel.jpg" data-source="https://500px.com/photo/114814075/the-lonely-wheel-by-felix-su" title="Lonely Traveler">
        		<img class="lazyload" data-src="./photo_portfolio/thumbnail/wheel.jpg" width="100%">
        	</a>
        </div>
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/g_cafe.jpg" data-source="https://500px.com/photo/114814159/morning-at-the-cafe-by-felix-su" title="Startup Buzz - Galvanize Cafe">
        		<img class="lazyload" data-src="./photo_portfolio/thumbnail/g_cafe.jpg" width="100%">
        	</a>
        </div>
      </div>
      <div class="row gallery-row">
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/buds.jpg" data-source="https://500px.com/photo/114813251/summer-buds-by-felix-su" title="Summer Buds">
        		<img class="lazyload" data-src="./photo_portfolio/thumbnail/buds.jpg" width="100%">
        	</a>
        </div>
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/bubble_art.jpg" data-source="https://500px.com/photo/115160573/bubble-art-by-felix-su" title="Bubble Art">
        		<img class="lazyload" data-src="./photo_portfolio/thumbnail/bubble_art.jpg" width="100%">
        	</a>
        </div>
      </div>
    </div>
  </div>
</template>
