<template name="Photographer_panel">
  <div class="panel-background photographer-background">
    <div class="zoom-gallery">
      <div class="row gallery-row">
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/floater.jpg" data-source="https://500px.com/photo/115160573/bubble-art-by-felix-su" title="Bubble Art">
        		<img src="./photo_portfolio/thumbnail/floater.jpg" width="100%">
        	</a>
        </div>
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/wings.jpg" data-source="https://500px.com/photo/114813809/outstretched-wings-by-felix-su" title="Wings">
        		<img src="./photo_portfolio/thumbnail/wings.jpg" width="100%">
        	</a>
        </div>
      </div>
      <div class="row gallery-row">
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/petals.jpg" data-source="https://500px.com/photo/115160573/bubble-art-by-felix-su" title="Bubble Art">
        		<img src="./photo_portfolio/thumbnail/petals.jpg" width="100%">
        	</a>
        </div>
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/wheel.jpg" data-source="https://500px.com/photo/114813809/outstretched-wings-by-felix-su" title="Wings">
        		<img src="./photo_portfolio/thumbnail/wheel.jpg" width="100%">
        	</a>
        </div>
      </div>
      <div class="row gallery-row">
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/g_cafe.jpg" data-source="https://500px.com/photo/115160573/bubble-art-by-felix-su" title="Bubble Art">
        		<img src="./photo_portfolio/thumbnail/g_cafe.jpg" width="100%">
        	</a>
        </div>
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/christian.jpg" data-source="https://500px.com/photo/114813809/outstretched-wings-by-felix-su" title="Wings">
        		<img src="./photo_portfolio/thumbnail/christian.jpg" width="100%">
        	</a>
        </div>
      </div>
      <div class="row gallery-row">
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/splash.jpg" data-source="https://500px.com/photo/115160573/bubble-art-by-felix-su" title="Bubble Art">
        		<img src="./photo_portfolio/thumbnail/splash.jpg" width="100%">
        	</a>
        </div>
        <div class="six columns">
        	<a href="./photo_portfolio/full_size/buds.jpg" data-source="https://500px.com/photo/114813809/outstretched-wings-by-felix-su" title="Wings">
        		<img src="./photo_portfolio/thumbnail/buds.jpg" width="100%">
        	</a>
        </div>
      </div>
    </div>
  </div>
</template>
