.logo {
  z-index: 1000;
  position: fixed;
  top: 1em;
  left: 1em;
  width: 4em;
  height: 4em;
}
.jumbotron {
  background: url("/felix_marseille.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  width: 100vw;
  overflow: hidden;
}
.jumbotron-overlay {
  position:absolute;
  z-index:0;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-attachment:scroll;
  background-repeat:repeat;
  background-position:0 0;
  background: -webkit-radial-gradient(ellipse farthest-corner at 2em 2em, rgba(white,0) 0%, rgba(white,0.15) 50%, rgba(white,1) 72%); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(top left at 2em 2em, rgba(white,0) 0%, rgba(white,0.15) 50%, rgba(white,1) 72%); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(top left at 2em 2em, rgba(white,0) 0%, rgba(white,0.15) 50%, rgba(white,1) 72%); /* For Firefox 3.6 to 15 */
  background: radial-gradient(ellipse farthest-corner at 2em 4em, rgba(white,0) 0%, rgba(white,0.15) 50%, rgba(white,1) 72%); /* Standard syntax (must be last) */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.spacer {
  display: block;
}
.title-wrapper {
  height: 100vh;
}
.title-container {
  position: absolute;
  bottom: 3.5em;
  right: 3.5em;
  text-align: center;
}
.title {
  font-family: 'Oswald', 'Helvetica', 'Arial', sans-serif;
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 7rem;
  width: 100%;
  line-height: 10rem;
}
.subtitle {
  font: 2rem 'PT Sans', sans-serif;
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1rem;
  width: 100%;
}
.headline {
  position: relative;
  display: inline-block;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #fff;
  text-align: center;
  padding: 0 4rem;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.headline:before,
.headline:after {
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid #fff;
  width: 2rem;
  content: "";
}
.headline:before {
  left: 0;
}
.headline:after {
  right: 0;
}
.about {
  text-align: justify;
  padding-right: 4em;
  position: relative;
  top: 2em;
}
.photo-section {
  padding-top: 3em;
  height: 37em;
  margin-bottom: 3em;
}
.profile-photo-container {
  width: 24em;
  height: 32em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  display: block;
}
.social-container {
  width: 100%;
}
.profile-photo-card {
  top: 0;
  left: 0;
  width: 19em;
  height: 29em;
  box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.profile-photo {
  background: url("/linkedin_2.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 29em;
}
.photo-frame {
  border: 1em solid $dark-neutral-blue;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 19em;
  height: 29em;
}
.social-box {
  width: 90%;
  margin: 0 auto;
}
.icon-box {
  padding: 1.8em;
  width: 2em;
  height: 2em;
  border: 2px solid $dark-neutral-blue;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
}
.icon-box i {
  font-size: 1.6em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.icon-row-offset {
  margin-left: 0.8em;
}
.project-header {
  position: absolute;
  top: 6em;
  left: 3em;
  width: calc(40% - 6em);
  height: calc(100vh - 8em);
}
#project-header-content {
  position: relative;
  height: calc(100vh - 14em);
}
.project-header-title {
  color: black;
  font-size: 3em;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}
.project-header-subtitle {
  color: light-gray;
  font-size: 1em;
  font-weight: 400;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}
.project-img-container {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 4em;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 1em;
}
.project-img {
  position: relative;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.nav-arrows {
  width: 100%;

  position: absolute;
  bottom: 1em;
}
.left-arrow-container {
  float: left;
}
.right-arrow-container {
  float: right;
}
.parallax-about-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.about-skills {
  margin: 1em 0 2em 0;
  width: 100%;
  text-align: initial;
}
.about-skills hr {
  border-color: $font-light-gray;
  margin: 5px 0;
}
.skills-title {
  font-size: 1.4rem;
  font-weight: 500;
}
.skills-content {
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
  display: block;
}
.skills-sub-title {
  font-weight: 500;
  display: inline-block;
}
.skills-list {
  font-weight: 400;
  padding-left: 1rem;
  float: right;
  display: inline-block;
  color: $font-light-gray;
  text-align: initial
}
.info-section{
  position:absolute;
  top: 1em;
  right: 1em;
}
.email-button,
.resume-button {
  float: right;
  margin: 0 10px 0 0;
  vertical-align: middle;
  font-family: 'Raleway', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
.email-button:after {
  content: ' Email Me';
}
.resume-button:after {
  content: ' My Resume';
}
