@media screen and (max-width: 1224px) {
  .parallax-about-section p {
    font-size: 1.4rem;
  }
  .about {
    top: 1em;
  }
  .github-tag {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .skills-sub-title {
    display: inline-block;
  }
  .skills-list {
    padding-left: 0;
    float: none;
    display: inline-block;
  }
}
@media screen and (max-width: 1053px) {
  .parallax-about-section p {
    font-size: 1.3rem;
  }
  .icon-box {
    padding: 1.5em;
    width: 1.5em;
    height: 1.5em;
  }
  .icon-box i {
    font-size: 1.2em;
  }
  .profile-photo-container {
    width: 23em;
    height: 32em;
    top: 1em;
  }
  .profile-photo-card {
    width: 18em;
    height: 28em;
  }
  .profile-photo {
    height: 28em;
  }
  .photo-frame {
    width: 18em;
    height: 28em;
  }
  .title-container {
    bottom: 2.5em;
    right: 2.5em;
  }
  .title {
    font-size: 6rem;
  }
  .subtitle {
    font-size: 1.8rem;
  }
  .project-header-title {
    font-size: 2em;
  }
}
@media screen and (max-width: 1000px) {
  .about {
    padding-right: 1.5em;
    position: initial;
    top: 1em;
  }
  p {
    margin-bottom: 1rem;
  }
  .skills-list {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  .jumbotron {
    background-position: 25% center;
  }
  .parallax-about-section p {
    font-size: 1.2rem;
  }
  .icon-box {
    padding: 1.2em;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #103849;
  }
  .icon-box i {
    font-size: 1em;
  }
  .profile-photo-container {
    width: 20em;
    height: 28em;
    top: 2em;
  }
  .profile-photo-card {
    width: 15em;
    height: 25em;
  }
  .profile-photo {
    height: 25em;
  }
  .photo-frame {
    width: 15em;
    height: 25em;
  }
  .about {
    top: 2em;
  }
  .title {
    font-size: 6rem;
  }
  .subtitle {
    font-size: 1.8rem;
  }
  .project_1_back {
    height: auto;
  }
  .main {
    height: 100vh;
    width: 100%;
    margin: 0;
  }
  .project-header {
    position: relative;
    top: 6em;
    left: 3em;
    width: 100%;
    height: 50vh;
  }
  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .grid__item {
    width: 50%;
    border: none;
  }
  .project-header {
    padding: 4em;
    top: initial;
    left: initial;
  }
  #project-header-content {
    position: relative;
    height: 100%;
  }
  .project-img-container {
    width: 50%;
    position: relative;
    margin: 2em auto;
    left: initial;
    bottom: initial;
    -webkit-transform: none;
    transform: none;
    padding: 0;
  }
  .nav-arrows {
    position: absolute;
    width: calc(100% - 8em);
    bottom: 2em;
  }
  .project-header-subtitle {
    font-size: 1.2rem;
  }
  .grid-preview-img {
    width: 50%;
  }
  .project-img-container {
    display: none;
  }
}
@media screen and (min-aspect-ratio: 9/5) {
  .project-img-container {
    display: none;
  }
}

@media screen and (max-width: 827px) {
  .icon-box {
    padding: 1.2em;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #103849;
  }
  .icon-box i {
    font-size: 1em;
  }
  .profile-photo-container {
    width: 18em;
    height: 27em;
    top: 4em;
  }
  .profile-photo-card {
    width: 14em;
    height: 24em;
  }
  .profile-photo {
    height: 24em;
  }
  .photo-frame {
    border: .8em solid $dark-neutral-blue;
    width: 14em;
    height: 24em;
  }
  .about {
    top: 0em;
  }
  .title {
    font-size: 5rem;
    line-height: 8rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .six.columns {
    width: 100%;
  }
  .spacer {
    display: none;
  }
  .parallax-content {
    position: relative;
    top: initial;
    height: auto;
  }
  .parallax-about-section {
    position: relative;
    top: initial;
    height: initial;
  }
  .project_1_back {
    position: relative;
    top: initial;
    height: initial;
  }
  .parallax-about-content {
    position: initial;
    top: initial;
    left: initial;
    transform: translate(0);
    -webkit-transform: translate(0);
  }
  .profile-photo-container {
    top: 1em;
  }
  .photo-section {
    padding-top: 0;
    height: 30em;
    margin-bottom: 0;
  }
  .social-box {
    width: 70%;
  }
  .social-container {
    margin-bottom: 1em;
  }
  .columns {
    margin-left: 0;
    margin-top: 1em;
  }
  .about {
    padding: 0 3em;
  }
  .logo {
    width: 3em;
    height: 3em;
  }
  .two.columns {
    width: 16.6666666666%;
  }
  .email-button,
  .resume-button {
    padding: 0 18px;
    height: 34px;
    line-height: 34px;
    font-size: 10px;
  }
}
@media screen and (max-width : 550px) {
  #project-header-content {
    height: auto;
  }
  .about {
    padding: 0 1em;
  }
  .profile-photo-container {
    width: 15em;
    height: 23em;
  }
  .photo-section {
    height: 25em;
  }
  .profile-photo-card,
  .photo-frame {
    width: 13em;
    height: 21em;
  }
  .profile-photo {
    height: 21em;
  }
  .photo-frame {
    border-width: .5em;
  }
  .project-img-container {
    display: none;
  }
  .project-header-title {
    font-size: 2.5em;
  }
  .grid__item {
    padding: 30px 40px 15px;
  }
  .square {
    height: 80px;
  }
  .rect {
    height: 50px;
  }
  .chart__label {
    padding-left: 5px;
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  .chart__bar {
    white-space: nowrap;
    margin-bottom: 5px;
  }
  .chart__title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .lines .line .line__label {
    font-size: 1.2rem;
  }
  .email-button,
  .resume-button {
    padding: 0 18px;
    height: 34px;
    line-height: 34px;
    font-size: 10px;
  }
  .email-button:after,
  .resume-button:after {
    content: '';
  }
}

@media screen and (max-width : 480px) {
  .social-box {
    float: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .photo-section {
    float: none;
    width: 100%;
  }
  .social-box .two.columns {
    width: 16.6666666666%;
    text-align: center;
  }
  .icon-row-offset {
    width: 90%;
    margin: 0 auto;
  }
  .icon-box {
    padding: 1.1em;
    width: 1.1em;
    height: 1.1em;
  }
  .icon-box i {
    font-size: 1em;
  }
  .nav-arrows {
    width: calc(100% - 4em);
  }
  .nav-arrows button {
    padding: 0 15px;
    font-size: 1rem;
    height: 30px;
    line-height: 30px;
  }
  .project-header {
    padding: 2em;
    height: 40vh;
  }
  .project-header-title {
    font-size: 1.7em;
  }
  .category {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 1em;
  }
  .grid__item {
    padding: 30px 20px 15px;
  }
  .meta__date,
  .meta__reading-time {
    display: none;
  }
  .square {
    height: 60px;
  }
  .rect {
    height: 38px;
  }
}
