.panel-background {
  height: 100%;
  width: 100%;
  padding: 2em;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

iframe {
  width: 90%;
  height: 300px;
}

@media screen and (max-width: 650px) {
  iframe {
    height: 250px;
  }
}
